name: Build Config Server Image

on:
  push:
    branches:
      - develop
      - test
      - main
  workflow_dispatch:
      
permissions:
  contents: read
  packages: write

jobs:
  build:
    uses: zenwk-org/zenwk-workflows/.github/workflows/docker-build-push-common.yml@main
    with:
      service_name: zenwk-security
      image_name: zenwk-org/zenwk-security
      dockerfile_path: zenwk-security/src/main/resources/docker/Dockerfile
      build_context: zenwk-security